<ngb-carousel>
    <ng-template ngbSlide>
      <div class="text-right">
        <img height="20" src="https://www.exicom-ps.com/images/logo.png">
      </div>
      <div>
        <div class="widget-title">Total Assets</div>
        <!-- <div class="widget-subtitle">Visitors</div> -->
        <div class="widget-int">629</div>
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="text-right">
        <img height="20" src="https://www.exicom-ps.com/images/logo.png">
      </div>
      <div>
        <div class="widget-title">Total Alive Assets</div>
        <!-- <div class="widget-subtitle">Visitors</div> -->
        <div class="widget-int">529</div>
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="text-right">
        <img height="20" src="https://www.exicom-ps.com/images/logo.png">
      </div>
      <div>
        <div class="widget-title">Need To Be</div>
        <!-- <div class="widget-subtitle">Visitors</div> -->
        <div class="widget-int">Finalize</div>
    </div>
    </ng-template>
</ngb-carousel>



