<div>
  <ul class="breadcrumb">
    <li><a [routerLink]="['/home-dashboard']">Home</a></li>
    <li><a [routerLink]="['/assets-dashbaord/fota']">Fota Dashboard</a></li>
    <li><a style="cursor:auto;">{{ param2 | titlecase }} Fota List</a></li>
  </ul>
</div>
<app-progress-spinner color="accent" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>
<div class="container-fluid mt-5">
    <section class="section-tours">
      <div class="row my-3">
        <div class="col-md-3">
          <button class="btn btn-dark w-50" style="font-size: 15px;" (click)="createBatch()">
            {{message}} Batch
          </button>
        </div>
      </div>
<div class="mat-container mb-5">
<app-fota-mat-table
  [dataUrl]="grid_url"
  [headerColumns]="Columns"
  [search]=false
  (outData)="openBox($event)"
  [companyName]="param1"
  [param2]="param2"
></app-fota-mat-table>
</div>
</section>
</div>