<div class="container mt-5">
  <section class="section-tours">
    <div class="row my-3">
      <div class="col-md-9 form-row">
        <div class="col-form-label">
          <mat-form-field>
            <mat-label>Select Client</mat-label>
            <select matNativeControl>
              <option value="volvo">Exicom</option>
              <option value="saab">Bounce</option>
              <option value="mercedes">Ola</option>
              <option value="uber">Uber</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-dark py-2" style="font-size: 15px;" data-toggle="modal" data-target="#topicModal">
         Generate MQTT Topics
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="seq">
          <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header disabled><b>S.No.</b></th>
          <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
        </ng-container>

        <ng-container matColumnDef="imei">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"><b>Topic Name</b></th>
          <td mat-cell *matCellDef="let row">{{ row.imei }}</td>
        </ng-container>

        <ng-container matColumnDef="bin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"><b>Topic Type</b></th>
          <td mat-cell *matCellDef="let row">{{ row.bin }}</td>
        </ng-container>

        <ng-container matColumnDef="tcu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%"><b>Description</b></th>
          <td mat-cell *matCellDef="let row">{{ row.tcu }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="bms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"><b>Topic Nomenclature</b></th>
          <td mat-cell *matCellDef="let row">{{ row.bms }}</td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="cfg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="18%"><b>CFG</b></th>
          <td mat-cell *matCellDef="let row">{{ row.cfg }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="18%"><b>Action</b></th>
          <td mat-cell *matCellDef="let row">
            <button class="btn btn-outline-dark" (click)="getImeiDetail(row)" data-toggle="modal" data-target="#detailsModal">
              PUSH FOTA
            </button>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </section>
</div>
<div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:80px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <!-- <div class="heading-shadow pt-1 mt-3 ml-2">
          <h3>DETAILS</h3>
        </div> -->
        <button type="button" #closeModel class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row mt-3 m-2">
            <div class="col-sm-12">
                  <!-- <div class="card-header">Update Fota</div> -->
                <app-create-topic></app-create-topic>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

