<div class="container mt-5">
  <section class="section-tours">
    <div class="row my-3">
      <div class="col-md-9 form-row">
        <div class="col-form-label">
          <form [formGroup]="clientForm">
          <mat-form-field>
            <mat-label>Select Client</mat-label>
            <select formControlName="org" (change)="changeTopic()" matNativeControl>            
              <option *ngFor="let client of clientList" [value]="client.id">{{client.orgName}}</option>
            </select>
          </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-dark py-2" style="font-size: 15px;" [hidden]="isTopicDone" (click)="createTopic()">
         Generate MQTT Topics
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Publish
          </div>
          <div class="card-body p-0">
            <ul class="list-group" *ngFor="let pub of publishTopics">
              <li class="list-group-item lh-3">{{pub.topicname}}</li>
            </ul>
          </div>
        </div>
      </div>      
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Subscribe
          </div>
          <div class="card-body p-0">
            <ul class="list-group" *ngFor="let sub of subscribeTopics">
              <li class="list-group-item lh-3">{{sub.topicname}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

