<div>
  <ul class="breadcrumb">
    <li><a routerLink="/home-dashboard">Home</a></li>
    <li><a routerLink="/assets-dashbaord" [queryParams]="{map: 'true'}">Assets Dashboard</a></li>
    <li> {{param1}} Trace Route Table</li>
  </ul>
</div>
<section class="m-4">
  <div class="row">
    <div class="col-md-12">
      <app-mat-table [dataUrl]="grid_url" [headerColumns]="Columns" [search]=true (outData)="openBox($event)"
        [companyName]="param1"></app-mat-table>
    </div>
    <div class="col-md-12" *ngIf="traceFlag">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <div class="panel-title-box">
            <h3>Trace Route </h3>
          </div>
          <ul class="panel-controls" style="margin-top: 2px;">
            <li style="padding-top: 6px;font-size: 12px;font-weight: bold;"><span>( Last 6 Hours )</span>
            </li>
          </ul>
        </div>
        <div class="panel-body padding-0">
          <app-battery-locate-map [cname]="param1" [bin]="assetId"></app-battery-locate-map>
          <div class="text-right">
            <button (click)="traceOverview()" mat-raised-button class="profilebtn" color="primary" type="submit"
              class="theme-btn mt-4">Trace Route Overview</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
