<div class="container mt-5">
    <section class="section-tours">
        <div class="row my-3">
            <div class="col-md-3">
              <button class="btn btn-dark w-50" style="font-size: 15px;" (click)="back()">
                Back
              </button>
            </div>      
        </div>
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="logDataSource" matSort>
        <ng-container matColumnDef="seq">
                    <th mat-header-cell *matHeaderCellDef width="5%" mat-sort-header disabled><b>S.No.</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
        </ng-container>
          
                  <ng-container matColumnDef="imei">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Imei</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.imei }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="batchid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Batch Id</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.batchid }}</td>
                  </ng-container>                          
        
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Type</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.type }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="topic">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Topic</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.topic}} 
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Status</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.status}} 
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="command">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Command</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.command}} 
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="response">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"><b>Response</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.response}} 
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"><b>Time</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.time | date: 'dd-MM-yyyy HH:mm:ss'}} 
                    </td>
                  </ng-container>
          
                  <tr mat-header-row *matHeaderRowDef="logColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: logColumns"></tr>
                </table>
          
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
    </section>
</div>    