<app-progress-spinner color="accent" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>
<div *ngIf="imeiLog">
  <ul class="breadcrumb">
    <li><a [routerLink]="['/home-dashboard']">Home</a></li>
    <li><a [routerLink]="['/assets-dashbaord']" [queryParams]="{fota: 'true'}">Fota Dashboard</a></li>
    <li><a (click)="goToFotaList()">{{param2 | titlecase}} Fota List</a></li>  
    <li><a style="cursor:auto;">Imei Result</a></li>
  </ul>
</div>
<div *ngIf="batchLog">
  <ul class="breadcrumb">
    <li><a [routerLink]="['/home-dashboard']">Home</a></li>
    <li><a [routerLink]="['/assets-dashbaord']" [queryParams]="{fota: 'true'}">Fota Dashboard</a></li>
    <li><a (click)="goToFotaList()">{{param2 | titlecase}} Fota List</a></li>
    <li><a (click)="goToCreateBatch()">Create Batch</a></li>    
    <li><a style="cursor:auto;">Batch Result</a></li>
  </ul>
</div>
<div class="container-fluid mt-5">
    <section class="section-tours">
        <!-- <div class="row my-3">
            <div class="col-md-3">
              <button class="btn btn-dark w-50" style="font-size: 15px;" (click)="back()">
                Back
              </button>
            </div>
        </div> -->
    <!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="logDataSource" matSort>
        <ng-container matColumnDef="seq">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disabled><b>S.NO.</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
        </ng-container>

                  <ng-container matColumnDef="imei">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>IMEI</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.imei }}</td>
                  </ng-container>

                  <ng-container matColumnDef="batchid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>BATCH ID</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.batchid }}</td>
                  </ng-container>

                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>TYPE</b></th>
                    <td mat-cell *matCellDef="let row">{{ row.type }}</td>
                  </ng-container>

                  <ng-container matColumnDef="topic">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>TOPIC</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.topic}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>STATUS</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.status}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="command">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>COMMAND</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.command}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="response">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>RESPONSE</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.response}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>TIME</b></th>
                    <td mat-cell *matCellDef="let row">
                      {{row.time | date: 'dd-MM-yyyy HH:mm:ss'}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ACTION</b></th>
                    <td mat-cell *matCellDef="let row">
                      <button class="btn btn-outline-dark mr-3 retry-button" style="font-size:12px;" (click)="retryFota(row)" [disabled]="retry(row)">
                        RETRY
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="logColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: logColumns"></tr>
                </table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div> -->

              <div class="mat-container mt-4">
                <app-fota-mat-table
                  [dataUrl]="grid_url"
                  [headerColumns]="Columns"
                  [search]=false
                  (outData)="openBox($event)"
                  [companyName]="param1"
                  [bid]="param3"
                  [param2]="param2"
                ></app-fota-mat-table>
              </div> 
    </section>
</div>
