table {
    width: 100%;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 1.1%;
  font-size: 12px;
}
.retry-button :disabled {
  color: #6a6e71ba;
  background-color: #715c5c24;
}

table {
  width: 100%;
}

table th {
text-transform: uppercase;
//color: #f5f5f5;
background: #f9f9f9;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
 padding: .4%;
  font-size:12px;
}
tr.mat-row {
  height: 40px;
}
tr.mat-header-row {
  height: 40px;
}
.mat-paginator-container{
  max-height: 50px;
}
.breadcrumb {
  width: 100%;
  background: #e8e8e8;
  margin-bottom: 0px;
  padding: 12px 15px 12px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  cursor: pointer;
}

.breadcrumb li, .breadcrumb li a {
  font-size: 12px;
  line-height: 12px;
  color: #4d5669;
  text-decoration: none;

}
.breadcrumb>li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  font-family: "FontAwesome";
  content: "\f105";
  color: #4d5669;
  padding: 0px 8px;
}
.breadcrumb li:last-child {
  color: #22262e;
  font-weight: bold ;
}