table {
  width: 100%;
}
td, th {
  width: 16%;
}

.mainDiv{
  position: relative;
}
#add-button{
  z-index: 9999;
  right: 20px;
  top: 5px;
  left: auto;
  position: absolute;
}
#chart-button{
  z-index: 9999;
  right: 80px;
  top: 5px;
  left: auto;
  position: absolute;
}
#temp-button{
  z-index: 9999;
  right: 140px;
  top: 5px;
  left: auto;
  position: absolute;
}


//panel Css
.panel.panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
}
.panel {
  float: left;
  width: 100%;
  border-radius: 0px;
  border: 0px;
  border-top: 2px solid #E5E5E5;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.panel {
  background-color: #fff;
}
.panel-default .panel-heading, .panel-primary .panel-heading, .panel-success .panel-heading, .panel-info .panel-heading, .panel-warning .panel-heading, .panel-danger .panel-heading {
  background: #F5F5F5;
  border-color: #E5E5E5;
}
.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
  float: left;
  width: 100%;
}
.panel .panel-heading {
  padding: 5px 10px;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel .panel-heading .panel-title-box {
  float: left;
}
.panel .panel-heading .panel-title-box h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  color: #1b1e24;
  padding: 0px;
  margin: 0px;
}
.panel .panel-heading .panel-title-box span {
  font-size: 12px;
  color: #586377;
  font-weight: 400;
  line-height: 12px;
}
ul.panel-controls {
  float: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
}
ul.panel-controls > li {
  float: left;
}
ul.panel-controls > li > a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  color: #22262e;
  border: 1px solid #BBB;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  margin-left: 3px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}
.fa-expand:before {
  content: "\f065";
}
.panel .panel-body {
  padding: 15px;
  position: relative;
  float: left;
    width: 100%;
}
// .row {
//   margin-left: 0px;
//   margin-right: 0px;
// }
// .row [class^='col-xs-'], .row [class^='col-sm-'], .row [class^='col-md-'], .row [class^='col-lg-']{
//   min-height: 1px;
//   padding-left: 10px;
//   padding-right: 10px;
// }


.myCard{
  background-color: #fff;
  // margin: 1px;
  border-radius: 3px;
  padding: 10px;
 // cursor: pointer;
  //border: 1px solid red;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.myCard h3{
  color:#546CE5;
}
