
  <div class="page-title">
    <div class="text-left">
      <h2>Roles Table</h2>
    </div>
    <div class="text-right">
      <button mat-mini-fab color="primary" matTooltip="Add Role" class="theme-btn" (click)="openDialog(null)">
      <i class="material-icons">person_add</i>
    </button>
    </div>
  </div>

  <div class="mat-container mb-5">
    <app-role-mat-table *ngIf="gridRelaod" [dataUrl]="grid_url" [headerColumns]="Columns" (outData)="openBox($event)" ></app-role-mat-table>
  </div>

