<section class="m-5">
<form [formGroup]="modalForm">
  <div class="form-row">          
        <label class="col-2 col-form-label">Choose Organization : </label>
        <mat-form-field class="col-4" appearance="fill">
          <mat-label>Select Org</mat-label>
          <mat-select [value]="orgid" formControlName="orgId" (selectionChange)="getPayloadByOrg()">
            <mat-option *ngFor="let elem of orgData" [value]="elem.id">
              {{elem.orgName}}
            </mat-option>
          </mat-select>
        </mat-form-field>    
    <!-- <div class="col-2 text-right"><button mat-raised-button color="primary" (click)="saveData()">Save</button></div> -->
  </div>

  <div class="form-row mt-2">
    <label class="col-2 col-form-label">Incoming Topic : </label>
    <mat-form-field class="col-4" appearance="fill">
      <mat-label>Incoming Topic</mat-label>
      <input matInput formControlName="incomingTopic" />
    </mat-form-field>
  </div>

  <div class="form-row mt-2">
    <label class="col-2 col-form-label">Outgoing Topic : </label>
    <mat-form-field class="col-4" appearance="fill">
      <mat-label>Outgoing Topic</mat-label>
      <input matInput formControlName="outgoingTopic" />
    </mat-form-field>
  </div>

  <!-- <div class="form-row mt-2">
    <label class="col-2 col-form-label">Active : </label>
    <div class="col-4">
      <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
    </div>    
  </div> -->

  <!-- <div class="container-fluid"> -->
  <div class="form-row mt-4">

    <div class="col-6">
      <h6>Parameters List</h6>
      <mat-card class="drag_section">


        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo ; let i = index" cdkDrag>{{item.description}}<span
              class="text-right badge">{{i+1}}</span></div>
        </div>
      </mat-card>
    </div>


    <div class="col-6">

      <h6>Packet Parameters</h6>
      <mat-card class="drag_section">




        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done ; let i = index" cdkDrag>

            {{item.description}}<span class="text-right badge">{{i+1}}</span></div>
        </div>

      </mat-card>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col-12">
      <div class="text-center">
        <button mat-raised-button color="primary" (click)="saveData()">Save Modal</button>
      </div>
    </div>
  </div>
  <!-- </div> -->
</form>
</section>