<app-progress-spinner color="accent" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>
<div>
  <ul class="breadcrumb">
    <li><a [routerLink]="['/home-dashboard']">Home</a></li>
    <li><a [routerLink]="['/assets-dashbaord/fota']">Fota Dashboard</a></li>
    <li><a (click)="goToFotaList()">{{param2 | titlecase}} Fota List</a></li>
    <li><a (click)="goToCreateBatch()">Create Batch</a></li>
    <li><a style="cursor:auto;">Batch Details</a></li>
  </ul>
</div>
<div class="container-fluid mt-5">
    <section class="section-tours">
      <!-- <div class="row my-3">
        <div class="col-md-3">
          <button class="btn btn-dark w-50" style="font-size: 15px;" (click)="back()">
            Back
          </button>
        </div>      
      </div> -->
      <!-- <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="seq">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled><b>S.NO.</b></th>
            <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
          </ng-container>

          <ng-container matColumnDef="imei">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>IMEI</b></th>
            <td mat-cell *matCellDef="let row">{{ row.imei }}</td>
          </ng-container>

          <ng-container matColumnDef="batchId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>BATCH ID</b></th>
            <td mat-cell *matCellDef="let row">{{ row.batchId }}</td>
          </ng-container>

          <ng-container matColumnDef="tcuVersion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>TCU VERSION</b></th>
            <td mat-cell *matCellDef="let row">{{ row.tcuVersion }}</td>
          </ng-container>

          <ng-container matColumnDef="tcuCommand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>TCU COMMAND</b></th>
            <td mat-cell *matCellDef="let row">{{ row.tcuCommand }}</td>
          </ng-container>

          <ng-container matColumnDef="bmsVersion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>BMS VERSION</b></th>
            <td mat-cell *matCellDef="let row">{{ row.bmsVersion }}</td>
          </ng-container>

          <ng-container matColumnDef="bmsCommand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>BMS COMMAND</b></th>
            <td mat-cell *matCellDef="let row">{{ row.bmsCommand }}</td>
          </ng-container>

          <ng-container matColumnDef="cfgVersion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CFG VERSION</b></th>
            <td mat-cell *matCellDef="let row">{{ row.cfgVersion }}</td>
          </ng-container>

          <ng-container matColumnDef="cfgCommand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CFG Command</b></th>
            <td mat-cell *matCellDef="let row">{{ row.cfgCommand }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>STATUS</b></th>
            <td mat-cell *matCellDef="let row">
                {{row.status}}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ACTION</b></th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-outline-dark mr-3" (click)="logImei(row.imei)" [disabled]="disableLog(row)">
                LOG
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div> -->
      <div class="mat-container mt-4">
        <app-fota-mat-table
          [dataUrl]="grid_url"
          [headerColumns]="Columns"
          [search]=true
          (outData)="openBox($event)"
          [companyName]="param1"
        ></app-fota-mat-table>
      </div> 
    </section>
  </div>
