.org-mat-card {
    max-width: 550px;
  }

  .input-full-width{
    width: 100%;
  }

//   #file-label {
//     display: inline-flex;
//     vertical-align: middle;
//     font-size: 12px;
//     line-height: 18px;
//   }

//   #file-label mat-icon {
//     font-size: 18px;
//     text-align: center;
//   }

//   #file-label a {
//     cursor: pointer;
//   }
//   .align-self-flex-end{
//     align-self: flex-end;
//     text-align:left;
//   }
  .wrapper{

    text-align: -webkit-center;
    // min-height: 900px;
    height: auto;
    margin-bottom: 5rem;
    border-radius: 5px;
  }
//   .logo-image{
//     width: 100%;
//       max-height: 150px;
//       border-radius: 3px;
//   }
  .input-full-width{
    margin-top: 0.5rem;
  }
  .theme-btn{
    background: #1d2127;
  }
  .title{
    float: left;
      line-height: 35px;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0.3rem;
      margin-bottom: 0rem;
  }
