<div class="wrapper">
  <div class="row mx-0 my-3">
    <div class="col-sm-12 text-left"><h3 class="title">Security Settings</h3></div>
    <!-- <div class="col-sm-9 text-right">
      <button mat-raised-button color="primary" type="button" (click)="openDialog(null)" class="theme-btn">Edit</button>
    </div> -->
  </div>
  <div class="">
    <div class="col-sm-12">
      <div class="">
        <mat-card class="org-mat-card">
          <form [formGroup]="changePswdForm" (ngSubmit)="onSubmit(changePswdForm)">

            <mat-form-field class="input-full-width">
              <input matInput type="password" formControlName="changePassOld" placeholder="Old Password" value="" />
            </mat-form-field>

            <mat-form-field class="input-full-width">
              <input matInput type="password" formControlName="changePassNew" placeholder="New Password" />
            </mat-form-field>

            <mat-form-field class="input-full-width">
              <input matInput type="password" formControlName="changePassNewC" placeholder="Confirm Password" />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="text-left" class="theme-btn">Save Changes</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <!--  -->
</div>
