<div class="container mt-5">
  <section class="section-tours">
<mat-card>
  <div class="row mt-4">
    <div class="col-sm-12">
      <form [formGroup]="createFirmwareGroup">
        <div class="form-row">
          <div class="col-sm-3 col-form-label">
            <label class="mt-3">Client Name</label>
          </div>
          <div class="col-sm-9 col-form-label">
            <mat-form-field appearance="fill">
              <mat-label>Select Client</mat-label>
              <mat-select formControlName="cName">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let name of nameArray" [value]="name.id">
                  {{name.orgName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="checkError('cName', 'required')">(Client Name is required)</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-3 col-form-label">
            <label class="mt-3">Select Firmware Type</label>
          </div>
          <div class="col-sm-9 col-form-label">
            <mat-form-field appearance="fill">
              <mat-label>Select Firmware</mat-label>
              <mat-select formControlName="fType">
                <mat-option *ngFor="let com of typeArray" [value]="com">
                  {{com}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="checkError('fType', 'required')">(Firmware Type is required)</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-3 col-form-label">
            <label class="mt-3">Firmware Version</label>
          </div>
          <div class="col-sm-9 col-form-label">
            <mat-form-field appearance="fill">
              <mat-label>Select version</mat-label>
              <!--<mat-select formControlName="fVersion">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let ver of versionArray" [value]="ver">
                  {{ver}}
                </mat-option>
              </mat-select>-->
              <input matInput formControlName="fVersion">
              <mat-error *ngIf="checkError('fVersion', 'required')">(Firmware Version is required)</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-form-label">
            <label class="mt-3">Firmware Bin</label>
          </div>
          <div class="col-sm-9 col-form-label">
            <input type="file" class="form-control-file" (change)="uploadedFile($event)" placeholder="Upload file" accept=".bin">
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-9 col-form-label">

          </div>
          <div class="col-sm-3 col-form-label">
            <button class="float-right btn-size btn btn-dark w-75" (click)="isFirmwareExist()">
              Confirm
          </button>
          <button #openConfirmButton [hidden]="true" data-toggle="modal" data-target="#myModal"></button>
          </div>
        </div>
        <!-- <div class="col-sm-9"></div>
          <div class="col-sm-3 col-form-label text-right">
            <button class="float-right btn-size btn btn-dark w-75">
                Create Firmware
            </button>
        </div> -->
      </form>
    </div>
  </div>
  <!-- (change)="uploadedFile($event)"  -->

</mat-card>
</section>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="width: 100%;">
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <button type="button" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="fwareExists">Firmware version already exists, Do you want to overwrite it</p>
        <p *ngIf="!fwareExists">Do you really want to upload this Firmware?</p>
      </div>
      <div class="modal-footer" style="justify-content: center; border: none;">
        <button type="button" class="btn btn-info" data-dismiss="modal" #closeModal2>Cancel</button>
        <button type="button" class="btn btn-dark" (click)="createFirmware()">Create</button>
      </div>
    </div>
  </div>
</div>
<app-progress-spinner color="accent" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>