<div class="row mt-4">
  <div class="col-sm-12">
    <form [formGroup]="createFirmwareGroup">
      <div class="form-row">
        <div class="col-sm-3 col-form-label">
          <label class="mt-3">Client Name</label>
        </div>
        <div class="col-sm-9 col-form-label">
          <mat-form-field appearance="fill">
            <mat-label>Select Client</mat-label>
            <mat-select formControlName="cName">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let ver of nameArray" [value]="ver">
                {{ver}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-3 col-form-label">
          <label class="mt-3">Select Firmware Type</label>
        </div>
        <div class="col-sm-9 col-form-label">
          <mat-form-field appearance="fill">
            <mat-label>Select Firmware</mat-label>
            <mat-select formControlName="fType">
              <mat-option *ngFor="let com of typeArray" [value]="com">
                {{com}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-3 col-form-label">
          <label class="mt-3">Firmware Version</label>
        </div>
        <div class="col-sm-9 col-form-label">
          <mat-form-field appearance="fill">
            <mat-label>Select version</mat-label>
            <mat-select formControlName="fVersion">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let ver of versionArray" [value]="ver">
                {{ver}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm-3 col-form-label">
          <label class="mt-3">Batch CSV</label>
        </div>
        <div class="col-sm-9 col-form-label">
          <input type="file" class="form-control-file" placeholder="Upload file" accept=".bin">
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-9 col-form-label">

        </div>
        <div class="col-sm-3 col-form-label">
          <button class="float-right btn-size btn btn-dark w-75">
            Create Firmware
        </button>
        </div>
      </div>
      <!-- <div class="col-sm-9"></div>
        <div class="col-sm-3 col-form-label text-right">
          <button class="float-right btn-size btn btn-dark w-75">
              Create Firmware
          </button>
      </div> -->
    </form>
  </div>
</div>
<!-- (change)="uploadedFile($event)"  -->
