.form-font-1 {
  font-size:15.5px;
  font-weight: 400;
}

.form-font-2 {
  font-size:11.5px;
  font-weight: 400;
}
.mat-form-field{
  width:100% !important;
}

.btn-size {
  font-size: 15.5px;
  font-family: Georgia;
  font-weight: 400;
}

// .cdk-global-overlay-wrapper, .cdk-overlay-container {
//      z-index: 99999!important;
//      position: absolute; }
