<app-progress-spinner color="accent" [mode]="mode" [value]="loaderValue" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>

<div class="example-container mat-elevation-z8">
  <div
    class="example-loading-shade"
    *ngIf="isLoadingResults || isRateLimitReached"
  >
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      This API might be down. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container" style="margin-bottom: 7rem;">
  <!-- <div style="display: inline-block;padding: 8px 0px;" *ngIf="searchEnable">
    <span style="font-size: 20px;font-weight: 400;">{{companyName}} Assets Table</span>
  </div> -->

    <div class="panel" *ngIf="searchEnable">
      <div class="xn-search">
        <form role="form">
          <input
            type="text"
            (keyup)="applyFilter($event.target.value)"
            name="search"
            placeholder="Enter BIN"
          />
        </form>
      </div>
      <!-- <label>Search:<input type="search" class="form-control" placeholder="Filter" (keyup)="applyFilter($event.target.value)"></label> -->
    </div>
    <table
      *ngIf="displayedColumns != null"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      matSortActive=""
      matSortDisableClear
      multiTemplateDataRows
      matSortDirection="desc"
    >
      <!-- <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>   -->
      <ng-container
        matColumnDef="{{ column.columnName }}"
        *ngFor="let column of headerColumns"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="column.sortDisabled"
        >
          {{ column.displayName }}
        </th>

        <td mat-cell *matCellDef="let element;let i = dataIndex;">
          <span *ngIf="!column.action; else elseBlock">
            <span *ngIf="column.columnName == 'sequence'">
              {{(i+1) + (paginator.pageSize * paginator.pageIndex)}}
            </span>
            <span *ngIf="!column.dateFormat">
                {{ element[column.columnName] }}
              </span>
              <span *ngIf="column.dateFormat">
                {{ element[column.columnName] | date: 'dd-MM-yyyy HH:mm:ss'}}
              </span>
          </span>
          <ng-template #elseBlock>
            <span *ngIf="column.purpose == 'dashboard'">
              <button style="font-size: 10px;" [disabled]="element.status == 'Running'" class="btn btn-outline-dark mr-3" (click)="getImeiDetail(element)" data-toggle="modal" data-target="#imeiModal">
                PUSH FOTA
              </button>
              <button style="font-size: 10px;" class="btn btn-outline-dark" (click)="getImeiStatus(element)">
                RESULTS
              </button>
            </span>
            <span *ngIf="column.purpose == 'batchList'">
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-3" (click)="batchDetails(element)" data-toggle="modal" data-target="#detailsModal">
                PUSH
              </button>
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-3" (click)="logBatch(element)">
                DETAILS
              </button>
              <button style="font-size: 10px;" class="btn btn-outline-dark" (click)="resultBatch(element)">
                RESULTS
              </button>
            </span>
            <span *ngIf="column.purpose == 'executionList'">
              <button style="font-size: 10px;"  class="btn btn-outline-dark mr-3" (click)="logImei(element)" >
                LOG
              </button>
            </span>
            <span *ngIf="column.purpose == 'statusList'">
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-4" (click)="statusDetails(element)" data-toggle="modal" data-target="#statusModal">
                STATUS
              </button>
            </span>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns;let i = dataIndex;"
        class="example-element-row"
      ></tr>
    </table>

    <div class="page-select mb-4">
      <div class="label">Go to page:</div>
      <mat-form-field style="width: 60px;margin-left: 10px;">
        <mat-select
          [ngModel]="manualPage"
          (ngModelChange)="updateManualPage($event)"
        >
          <mat-option
            *ngFor="let in of counter(totalPagesNumber); let i = index"
            [value]="i"
            >Page {{ i + 1 }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-paginator
        [length]="resultsLength"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="clearManualPage()"
      ></mat-paginator>
    </div>
  </div>
</div>


<!-- RUN IMEI MODAL FOR FOTA DASHBOARD-->


<!-- DETAIL MODAL FOR CREATE BATCH -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top:80px">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: none; padding: 0;">
          <div class="heading-shadow py-3 px-4">
            <h5 class="modal-title">DETAILS</h5>
          </div>
          <button type="button" #closeDetail (click)="resetParamReceieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 pt-5">
            <div class="row m-2">
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Batch Id</div>
                    <div class="card-body">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      <span class="float-right">{{batchRow.id}}</span>
                    </div>
                </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Org Id</div>
                    <div class="card-body w-100">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      <span class="float-right">{{batchRow.orgId}}</span>
                    </div>
                </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Count</div>
                    <div class="card-body">
                       <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                       <span class="float-right">{{batchRow.count}}</span>
                    </div>
                </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Status</div>
                    <div class="card-body">
                        <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                        <span class="float-right">{{batchRow.status}}</span>
                    </div>
                </div>
             </div>
            </div>
            <div class="row mt-3 m-2">
              <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">UPDATE FOTA</div>
                    <div class="card-body">
                    <app-fota-choose (batchInfo)="getImeiParam($event)" [imei]="modalBatch"></app-fota-choose>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row m-2 mt-5">
              <div class="col-sm-12 text-right">
                <button class="float-right btn-size btn btn-dark ml-4 px-3" (click)="deleteBatch()">
                  DELETE BATCH
                </button>
                <button class="float-right btn-size btn btn-dark px-4" [disabled]="!paramRecieved" (click)="runBatch()">
                  RUN BATCH
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- FOTA PUSH SINGLE IMEI -->

<div class="modal fade" id="imeiModal" tabindex="-1" role="dialog" aria-labelledby="imeiModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:60px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="heading-shadow py-3 px-4">
          <h5 class="modal-title">DETAILS</h5>
        </div>
        <button type="button" #closePush (click)="resetParamReceieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pt-5">
          <div class="row m-2">
           <div class="col-md-3">
            <div class="card">
                <div class="card-header">IMEI</div>
                <div class="card-body">
                  <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                  <span class="float-right">{{imeiDetail.imeiNo}}</span>
                </div>
            </div>
           </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="card-header">TCU</div>
                  <div class="card-body w-100">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    <span class="float-right">{{imeiDetail.tcu}}</span>
                  </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="card">
                  <div class="card-header">BMS</div>
                  <div class="card-body">
                     <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                     <span class="float-right">{{imeiDetail.bms}}</span>
                  </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="card">
                  <div class="card-header">CFG</div>
                  <div class="card-body">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      <span class="float-right">{{imeiDetail.bmsConfigurationVersion}}</span>
                  </div>
              </div>
          </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">UPDATE FOTA</div>
                  <div class="card-body">
                  <app-fota-choose (batchInfo)="getImeiParam($event)" [imei]="modalImei" [onlyImei]="onlyImei"></app-fota-choose>
                  </div>
                </div>
            </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12 border-white">
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button class="btn-size btn btn-dark w-100" [disabled]="!paramRecieved" (click)="runImeiFota()">
                  RUN
                </button>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- FOTA STATUS INDICATOR-->

<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top: 20%;text-align: center;width: 36%;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="py-3 px-4">
          <h5 class="modal-title">STATUS</h5>
        </div>
        <button type="button" #closeStatus (click)="resetParamReceieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-5">
        <div>
          <ul class="list-inline" id="menu">
            <li>
              <button mat-mini-fab matTooltip="Start" class="green-color"></button>
            </li>
            <li>
              <button mat-mini-fab matTooltip="Pending" class="yellow-color"></button>
            </li>
            <li>
              <button mat-mini-fab matTooltip="Running" class="gray-color"></button>
            </li>
            <li>
              <button mat-mini-fab matTooltip="Done" class="gray-color"></button>
            </li>
            <li>
              <button mat-mini-fab matTooltip="Expired" class="gray-color"></button>
            </li>
            <li>
              <button mat-mini-fab matTooltip="Error" class="gray-color"></button>
            </li>
          </ul>
        </div>
        <!-- <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                  <mat-icon>plus_one</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                  <mat-icon>filter_list</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                  <mat-icon>home</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </section> -->
      </div>
    </div>
  </div>
</div>
