<app-progress-spinner color="accent" [mode]="mode" [value]="loaderValue" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>

<div class="example-container mat-elevation-z8">
  <div
    class="example-loading-shade"
    *ngIf="isLoadingResults || isRateLimitReached"
  >
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      This API might be down. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container" style="margin-bottom: 7rem;overflow-x: hidden;" [ngClass]="{ 'margin-tble': searchEnable}">
  <!-- <div style="display: inline-block;padding: 8px 0px;" *ngIf="searchEnable">
    <span style="font-size: 20px;font-weight: 400;">{{companyName}} Assets Table</span>
  </div> -->
  <!-- (keyup)="applyFilter($event.target.value)"             -->

    <div class="panel" *ngIf="searchEnable">
      <div class="xn-search">
        <form role="form">
          <input
            type="text"
            name="search"
            placeholder="Enter BIN"
          />
        </form>
      </div>      
    </div>

    <div class="row mt-3 mb-4" *ngIf="searchEnable1">
      <div class="col-md-3">
        <button class="btn btn-dark w-50" style="font-size: 15px;margin-top: 8px;" (click)="goToBatchPage()">
          Create Batch
        </button>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3">
        <div class="panel">
          <div class="xn-search">
            <form role="form">
              <input
                type="text"
                name="search"
                placeholder="Enter BIN"
              />
            </form>
          </div>      
        </div>      
      </div>
    </div>

    <table
      *ngIf="displayedColumns != null"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      matSortActive=""
      matSortDisableClear
      multiTemplateDataRows
      matSortDirection="desc"
    >
      <!-- <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>   -->
      <ng-container
        matColumnDef="{{ column.columnName }}"
        *ngFor="let column of headerColumns"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="column.sortDisabled"          
        >
          {{ column.displayName }}
        </th>

        <td mat-cell *matCellDef="let element;let i = dataIndex;">
          <span *ngIf="!column.action; else elseBlock">
            <span *ngIf="column.columnName == 'sequence'">
              {{(i+1) + (paginator.pageSize * paginator.pageIndex)}}
            </span>
            <span *ngIf="!column.dateFormat">
                {{ element[column.columnName] }}
              </span>
              <span *ngIf="column.dateFormat">
                {{ element[column.columnName] | date: 'dd-MM-yyyy HH:mm:ss'}}
              </span>
          </span>
          <ng-template #elseBlock>
            <span *ngIf="column.purpose == 'dashboard'">
              <span [matTooltip]="message.pushFota">
              <button style="font-size: 10px;" [disabled]="element.status == 'Running' || !updateFotaRole" class="btn btn-outline-dark mr-3" (click)="getImeiDetail(element)" data-toggle="modal" data-target="#imeiModal">
                PUSH FOTA
              </button>
              </span>
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-3" (click)="getImeiStatus(element)">
                RESULTS
              </button>
              <button style="font-size: 10px;" (click)="getImeiConfig(element)" class="btn btn-outline-dark mr-3" data-toggle="modal" data-target="#configModal">
                SYSCONFIG
              </button>
              <button style="font-size: 10px;" (click)="getImeiConfig(element)" class="btn btn-outline-dark" data-toggle="modal" data-target="#customModal">
                CUSTOM
              </button>
            </span>
            <span *ngIf="column.purpose == 'batchList'">
              <span [matTooltip]="message.pushFota">
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-3" (click)="batchDetails(element)" data-toggle="modal" data-target="#detailsModal" [disabled]="!updateFotaRole">
                PUSH
              </button>
              </span>
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-3" (click)="logBatch(element)">
                DETAILS
              </button>
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-3" (click)="resultBatch(element)">
                RESULTS
              </button>
              <button style="font-size: 10px;" (click)="getBatchConfig(element)" class="btn btn-outline-dark mr-3" data-toggle="modal" data-target="#configBatchModal">
                SYSCONFIG
              </button>
              <!-- <button style="font-size: 10px;" (click)="getBatchConfig(element)" class="btn btn-outline-dark mr-3" data-toggle="modal" data-target="#customBatchModal">
                CUSTOM
              </button> -->
              <button style="font-size: 10px;" *ngIf="deleteFotaRole" class="btn btn-outline-dark" (click)="deleteBatch(element)">
                DELETE
              </button>
            </span>
            <span *ngIf="column.purpose == 'executionList'">
              <button style="font-size: 10px;"  class="btn btn-outline-dark mr-3" (click)="logImei(element)" >
                LOG
              </button>
            </span>
            <span *ngIf="column.purpose == 'statusList'">
              <button style="font-size: 10px;" class="btn btn-outline-dark mr-4" (click)="statusDetails(element)" data-toggle="modal" data-target="#statusModal">
                INDICATOR
              </button>
            </span>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns;let i = dataIndex;"
        class="example-element-row"
      ></tr>
    </table>

    <div class="page-select mb-4">
      <div class="label">Go to page:</div>
      <mat-form-field style="width: 60px;margin-left: 10px;">
        <mat-select
          [ngModel]="manualPage"
          (ngModelChange)="updateManualPage($event)"
        >
          <mat-option
            *ngFor="let in of counter(totalPagesNumber); let i = index"
            [value]="i"
            >Page {{ i + 1 }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-paginator
        [length]="resultsLength"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="clearManualPage()"
      ></mat-paginator>
    </div>
  </div>
</div>


<!-- RUN IMEI MODAL FOR FOTA DASHBOARD-->


<!-- DETAIL MODAL FOR CREATE BATCH -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top:80px">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: none; padding: 0;">
          <div class="heading-shadow py-3 px-4">
            <h5 class="modal-title">DETAILS</h5>
          </div>
          <button type="button" #closeDetail (click)="resetParamReceieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 pt-5">
            <div class="row m-2">
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Batch Id</div>
                    <div class="card-body">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      <span class="float-right">{{batchRow.id}}</span>
                    </div>
                </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Org Id</div>
                    <div class="card-body w-100">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      <span class="float-right">{{batchRow.orgId}}</span>
                    </div>
                </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Count</div>
                    <div class="card-body">
                       <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                       <span class="float-right">{{batchRow.count}}</span>
                    </div>
                </div>
             </div>
             <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Status</div>
                    <div class="card-body">
                        <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                        <span class="float-right">{{batchRow.status}}</span>
                    </div>
                </div>
             </div>
            </div>
            <div class="row mt-3 m-2" *ngIf="updateFotaRole">
              <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">UPDATE FOTA</div>
                    <div class="card-body">
                    <app-fota-choose (batchInfo)="getImeiParam($event)" [imei]="modalBatch"></app-fota-choose>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row m-2 mt-5">
              <div class="col-sm-12 text-right">
                <!-- <button *ngIf="deleteFotaRole" class="float-right btn-size btn btn-dark ml-4 px-3" (click)="deleteBatch()">
                  DELETE BATCH
                </button> -->
                <button *ngIf="updateFotaRole" class="float-right btn-size btn btn-dark px-4" [disabled]="!paramRecieved" (click)="runBatch()">
                  RUN BATCH
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- FOTA PUSH SINGLE IMEI -->

<div class="modal fade" id="imeiModal" tabindex="-1" role="dialog" aria-labelledby="imeiModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:60px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="heading-shadow py-3 px-4">
          <h5 class="modal-title">DETAILS</h5>
        </div>
        <button type="button" #closePush (click)="resetParamReceieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pt-5">
          <div class="row m-2">
           <div class="col-md-3">
            <div class="card">
                <div class="card-header">IMEI</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.imeiNo}}</span>
                    </div>
                  </div>
                </div>
            </div>
           </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="card-header">TCU</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-7 px-1">
                        <span class="float-right span-break">{{imeiDetail.tcu}}</span>
                      </div>
                    </div>
                  </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="card">
                  <div class="card-header">BMS</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-7 px-1">
                        <span class="float-right span-break">{{imeiDetail.bms}}</span>
                      </div>
                    </div>
                  </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="card">
                  <div class="card-header">CFG</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-7 px-1">
                        <span class="float-right span-break">{{imeiDetail.bmsConfigurationVersion}}</span>
                      </div>
                    </div>                                            
                  </div>
              </div>
          </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">UPDATE FOTA</div>
                  <div class="card-body">
                  <app-fota-choose (batchInfo)="getImeiParam($event)" [imei]="modalImei" [onlyImei]="onlyImei"></app-fota-choose>
                  </div>
                </div>
            </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12 border-white">
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button class="btn-size btn btn-dark w-100" [disabled]="!paramRecieved" (click)="runImeiFota()">
                  RUN
                </button>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- FOTA STATUS INDICATOR-->

<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top: 20%;text-align: center;width: 36%;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="py-3 px-4 text-center">
          <h5 class="modal-title">STATUS</h5>
        </div>
        <button type="button" #closeStatus (click)="resetParamReceieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-5">
        <div>
        <p>Status Indication of IMEI - <b>{{statusDetail.imeiNumber}}</b> for component type - <b>{{statusDetail.componentType}}</b> command - <b>{{statusDetail.componentCommand}}</b></p>
          <ul class="list-inline" id="menu">
            <li>
              <span>
                <button mat-mini-fab class="green-color"></button>
                <span class="status-text">Start</span>
              </span>
              <!-- <ng-template #startStatus>
                <button mat-mini-fab class="green-color"></button>
                <span class="status-text">Start</span>
              </ng-template> -->
            </li>
            <li>
              <span *ngIf="statusDetail.executionStatus == 'Waiting';else pendingStatus">
                <button mat-mini-fab matTooltip="Pending" class="yellow-color"></button>
                <span class="status-text">Pending</span>
              </span>
              <ng-template #pendingStatus>
                <span *ngIf="statusDetail.executionStatus == 'Running' || statusDetail.executionStatus == 'Done' || statusDetail.executionStatus == 'Timeout'; else pendingGray">
                  <button mat-mini-fab class="green-color"></button>
                  <span class="status-text">Pending</span>
                </span>
                <ng-template #pendingGray>
                <button mat-mini-fab class="gray-color"></button>
                <span class="status-text">Pending</span>
                </ng-template>
              </ng-template>
            </li>
            <li>
              <span *ngIf="statusDetail.executionStatus == 'Running';else runningStatus">
                <button mat-mini-fab class="yellow-color"></button>
                <span class="status-text">Running</span>
              </span>
              <ng-template #runningStatus>
                <span *ngIf="statusDetail.executionStatus == 'Done' || statusDetail.executionStatus == 'Timeout';else runningGray">
                  <button mat-mini-fab class="green-color"></button>
                  <span class="status-text">Running</span>
                </span>
                <ng-template #runningGray>
                  <button mat-mini-fab class="gray-color"></button>
                  <span class="status-text">Running</span>
                </ng-template>
              </ng-template>
            </li>
            <li>
              <span *ngIf="statusDetail.executionStatus == 'Done';else doneStatus">
                <button mat-mini-fab class="yellow-color"></button>
                <span class="status-text">Done</span>
              </span>
              <ng-template #doneStatus>
              <span *ngIf="statusDetail.executionStatus == 'Timeout';else runningGray">
                <button mat-mini-fab class="green-color"></button>
                <span class="status-text">Done</span>
              </span>
              <ng-template #runningGray>
                <button mat-mini-fab class="gray-color"></button>
                <span class="status-text">Done</span>
              </ng-template>
              </ng-template>
            </li>
            <li>
              <span *ngIf="statusDetail.executionStatus == 'Timeout';else timeoutStatus">
                <button mat-mini-fab class="red-color"></button>
                <span class="status-text">Expired</span>
              </span>
              <ng-template #timeoutStatus>
                <button mat-mini-fab class="gray-color"></button>
                <span class="status-text">Expired</span>
              </ng-template>
            </li>
            <li>
              <span *ngIf="statusDetail.executionStatus == 'Error';else errorStatus">
                <button mat-mini-fab class="red-color"></button>
                <span class="status-text">Error</span>
              </span>
              <ng-template #errorStatus>
                <button mat-mini-fab class="gray-color"></button>
                <span class="status-text">Error</span>
              </ng-template>
            </li>
          </ul>
        </div>
        <!-- <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                  <mat-icon>plus_one</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                  <mat-icon>filter_list</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                  <mat-icon>home</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </section> -->
      </div>
    </div>
  </div>
</div>

<!-- FOTA CONFIG MODAL -->

<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:60px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="heading-shadow py-3 px-4">
          <h5 class="modal-title">CONFIG</h5>
        </div>
        <button type="button" #closeCfg (click)="resetConfigReceived()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pt-5">
        <div class="row m-2">
          <div class="col-md-3">
           <div class="card">
               <div class="card-header">IMEI</div>
               <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-7 px-1">
                    <span class="float-right span-break">{{imeiDetail.imeiNo}}</span>
                  </div>
                </div>
               </div>
           </div>
          </div>
           <div class="col-md-3">
             <div class="card">
                 <div class="card-header">TCU</div>
                 <div class="card-body w-100">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.tcu}}</span>
                    </div>
                  </div>
                 </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="card">
                 <div class="card-header">BMS</div>
                 <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.bms}}</span>
                    </div>
                  </div>
                 </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="card">
                 <div class="card-header">CFG</div>
                 <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.bmsConfigurationVersion}}</span>
                    </div>
                  </div>   
                 </div>
             </div>
         </div>
         </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">SYSCONFIG</div>
                  <div class="card-body">
                  <app-config-choose [fotaId]="fotaId" (configInfo)="getConfigParam($event)"></app-config-choose>
                  </div>
                </div>
            </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12 border-white">
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button class="btn-size btn btn-dark w-100" [disabled]="!configRecieved" (click)="runImeiConfig()">
                  RUN
                </button>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- FOTA CONFIG MODAL FOR BATCH -->

<div class="modal fade" id="configBatchModal" tabindex="-1" role="dialog" aria-labelledby="configBatchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:60px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="heading-shadow py-3 px-4">
          <h5 class="modal-title">CONFIG</h5>
        </div>
        <button type="button" #closeCfgBatch (click)="resetConfigReceived()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pt-5">
        <div class="row m-2">
          <div class="col-md-3">
           <div class="card">
               <div class="card-header">Batch Id</div>
               <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-7 px-1">
                    <span class="float-right span-break">{{batchRow.id}}</span>
                  </div>
                </div>                                  
               </div>
           </div>
          </div>
           <div class="col-md-3">
             <div class="card">
                 <div class="card-header">Org Id</div>
                 <div class="card-body w-100">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{batchRow.orgId}}</span>
                    </div>
                  </div>                                       
                 </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="card">
                 <div class="card-header">Count</div>
                 <div class="card-body">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    <span class="float-right">{{batchRow.count}}</span>
                 </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="card">
                 <div class="card-header">Status</div>
                 <div class="card-body">
                     <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                     <span class="float-right">{{batchRow.status}}</span>
                 </div>
             </div>
         </div>
         </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">SYSCONFIG</div>
                  <div class="card-body">
                  <app-config-choose [fotaId]="fotaId" (configInfo)="getConfigParam($event)"></app-config-choose>
                  </div>
                </div>
            </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12 border-white">
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button class="btn-size btn btn-dark w-100" [disabled]="!configRecieved" (click)="runBatchConfig()">
                  RUN
                </button>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- FOTA CUSTOM COMMAND MODAL -->

<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:60px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="heading-shadow py-3 px-4">
          <h5 class="modal-title">CUSTOM</h5>
        </div>
        <button type="button" #closeCust (click)="resetCustomRecieved()" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pt-5">
        <div class="row m-2">
          <div class="col-md-3">
           <div class="card">
               <div class="card-header">IMEI</div>
               <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-7 px-1">
                    <span class="float-right span-break">{{imeiDetail.imeiNo}}</span>
                  </div>
                </div>
               </div>
           </div>
          </div>
           <div class="col-md-3">
             <div class="card">
                 <div class="card-header">TCU</div>
                 <div class="card-body w-100">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.tcu}}</span>
                    </div>
                  </div>
                 </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="card">
                 <div class="card-header">BMS</div>
                 <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.bms}}</span>
                    </div>
                  </div>
                 </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="card">
                 <div class="card-header">CFG</div>
                 <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 px-1">
                      <span class="float-right span-break">{{imeiDetail.bmsConfigurationVersion}}</span>
                    </div>
                  </div>   
                 </div>
             </div>
         </div>
         </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">CUSTOM COMMAND</div>
                  <div class="card-body">
                    <app-custom-choose [fotaId]="fotaId" (customInfo)="getCustomParam($event)"></app-custom-choose>
                  </div>
                </div>
            </div>
          </div>
          <div class="row mt-3 m-2">
            <div class="col-md-12 border-white">
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button class="btn-size btn btn-dark w-100" (click)="runCustomFota()" [disabled]="!customRecieved">
                  RUN
                </button>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>