/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
  float: left;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 3px;
  border: 0px;
  // border-top: 1px solid #E5E5E5;
  // margin-bottom: 20px;
  position: relative;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.example-table-container {
  position: relative;
  // max-height: 500px;
  overflow: auto;
  margin-bottom: 5rem;
}



.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

// tr.example-element-row:not(.example-expanded-row):hover {
//   background: rgb(235, 232, 232);
// }

// tr.example-element-row:not(.example-expanded-row):active {
//   background: #efefef;
// }

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.table-sm td,
.table-sm th {
  padding: 0.1rem;
}
.subtable {
  width: 673px;
  margin-right: 0px;
  margin-left: 332px;
}
.divdata button {
  /* You Can Name it what you want*/
  margin-right: 16px;
}

.link-tag {
  text-decoration: underline;
  cursor: pointer;
}
.link-tag:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

tr.mat-row {
  height: 35px;
  border-bottom: 1px solid #f1eaea;
}

.container {
  margin: 32px;
  display: flex;
  align-items: center;
}

.page-select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  background: #fff;
}

.mat-header-cell {
  font-size:14px;
  color: #000000;
  text-transform: uppercase;
}

table tr th{
  background: #e2dede;
    //color: #56688A;
    font-size: 12px;
    text-transform: capitalize;
    border-left: 0px solid;
    border-right: 0px solid

}
.table > tbody > tr > td{
  border-color: #E5E5E5;
  border-width: 1px;
  // padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 12px !important;
  color: #22262e;
}
.mat-cell {
  font-size: 12px;
  color: #22262e;
}
tr.mat-header-row {
  height: 45px;
}
.panel{
  //background: #fff;

  //background: #F5F5F5;
  //border-color: #E5E5E5;
  float: right;
  /* padding-left: 5px; */
  padding: 10px 10px;
  font-size: 12px;
  position: relative;
}
// .panel label {
//   float: right;
// }
// .panel label input {
//   width: 150px;
//   display: inline;
//   margin-left: 5px;
// }
// .form-control{
//   border: 1px solid #D5D5D5;
//   background: #F9F9F9;
// }
.xn-search {
  padding: 0px 0px;
  margin-left: 0px;
}
.xn-search:before {
  left: 5px;
}
.xn-search:before {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  color: #AAA;
  left: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
.xn-search input {
  width: 100px;
}
.xn-search input {
  width: 150px;
  height: 30px;
  padding: 0px 8px 0px 28px;
  line-height: 25px;
  border: 1px solid #101215;
  background: transparent;
  transition: all 200ms ease;
  border-radius: 3px;
}
.xn-search input:focus {
  width: 200px;
  outline: -webkit-focus-ring-color auto 0px;
}

.tooltip-red {
  background: #b71c1c;
}

//Modal

.bars {
  color: #a834eb;
}

.card-header {
  font-size: 12px;
  text-transform: uppercase;
}

.card-body {
  font-size: 11px;
}

.card-body label{
  font-size:12px;
  text-transform: uppercase;
}


.btn-size {
  font-size: 12px;
  font-weight: 400;
}

.heading-shadow {
  width: 100%;
  box-shadow: 2px 12px 14px 0px rgb(243, 241, 243);
  position: absolute;
}

.purple {
  background: rgb(176, 34, 219);
  color: white;
}

table {
  width: 100%;
}

.outline-purple {
  background: transparent;
  border-color: rgba(202, 45, 223, 0.863);
  color: rgb(172, 77, 201)
}

.outline-purple:hover {
  background: rgb(176, 34, 219);
  color: white;
}

.margin-adjust {
  margin-left: 6px !important;
  margin-right: 5px !important;
}

.form-font {
  font-size:15.5px;
  font-weight: 400;
}

// th.mat-header-cell,
// td.mat-cell,
// td.mat-footer-cell {
//   padding: 1%;
//   font-size: 12px;
// }

.assignee-button {
    box-shadow: 1px 1px whitesmoke;
    background: white;
    border-radius: 3px;
    color: purple;
    font-size: 12px;
    padding: 3px 14px;
}

.modal-confirm {
    color: #636363;
    width: 400px;
  }

  .modal-confirm .modal-content {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }

  .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
  }

  .modal-confirm h4 {
    font-size: 26px;
    margin: 30px 0 -10px;
    text-align: center;
  }

  .modal-confirm .close {
    position: absolute;
    right: -25px;
    top: -25px;
  }

  .modal-confirm .modal-body {
    color: #999;
  }

  .modal-confirm .modal-footer a {
    color: #999;
  }

  .modal-confirm .btn {
    background: #60c7c1;
    border: none;
    border-radius: 4px;
    border-radius: 3px;
    color: #fff;
    line-height: normal;
    margin: 0 5px;
    min-height: 40px;
    min-width: 120px;
    outline: none !important;
    text-decoration: none;
    transition: all 0.4s;
  }

  .modal-confirm .btn-info {
    background: #c1c1c1;
  }

  .modal-confirm .btn-info:hover,
  .modal-confirm .btn-info:focus {
    background: #a8a8a8;
  }

  .modal-confirm .btn-danger {
    background: #f15e5e;
  }

  .modal-confirm .btn-danger:hover,
  .modal-confirm .btn-danger:focus {
    background: #ee3535;
  }

  .modal-remove {
    background: #fff;
    border: 2px solid #e3e3e3;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    opacity: 1;
    width: 50px;
    z-index: 999;
  }

  .close:hover {
    box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.7);
    opacity: 1 !important;
  }

  @media (min-width: 850px)
  {
    .modal-dialog {
      max-width: 800px;
      margin: 1.75rem auto;
    }
  }
  
  
  @media (min-width: 1100px)
  {
    .modal-dialog {
      max-width: 950px;
      margin: 1.75rem auto;
    }
  }