<app-progress-spinner color="accent" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
class="center-aligned sq-relative-backdrop">
</app-progress-spinner>
<!-- <div class="row m-2 p-1 mt-4">
    <div class="col-md-2">
       <div class="card">
           <div class="card-header">CUSTOMER</div>
           <div class="card-body">
             <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
             <span class="float-right">Bounce</span>
           </div>
       </div>
    </div>
    <div class="col-md-2">
       <div class="card">
           <div class="card-header">TCU</div>
           <div class="card-body w-100">
             <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
             <span class="float-right">i.06</span>
           </div>
       </div>
    </div>
    <div class="col-md-2">
       <div class="card">
           <div class="card-header">BMS</div>
           <div class="card-body">
              <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
              <span class="float-right">1.03</span>
           </div>
       </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">CFG</div>
            <div class="card-body">
                <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                <span class="float-right">1.01</span>
            </div>
        </div>
     </div>
     <div class="col-md-2">
        <div class="card">
            <div class="card-header">Date</div>
            <div class="card-body">
              <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
              <span class="float-right">21/12/19</span>
            </div>
        </div>
     </div>
     <div class="col-md-2">
        <div class="card">
            <div class="card-header">User</div>
            <div class="card-body">
             <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
             <span class="float-right">Suresh</span>
            </div>
        </div>
     </div>             
</div> -->
<div class="row m-2 mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Choose Batch Parameters
      </div>
      <div class="card-body">
        <app-fota-choose (batchInfo)="getParams($event)" [batchDone]="bDone"></app-fota-choose>
      </div>
    </div>
  </div>
</div>
    
<div class="row m-2 mt-4">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      Upload Batch
    </div>
    <div class="card-body">
      <form class="form-font">
        <div class="form-row mt-2">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-form-label">
            <label>Batch CSV</label>
          </div>
          <div class="col-md-5 col-form-label">
            <input type="file" class="form-control-file" (change)="uploadedFile($event)" placeholder="Upload file" accept=".csv">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-form-label">
            <label>Batch Description</label>
          </div>
          <div class="col-md-5 col-form-label">
            <textarea  class="form-control" placeholder="Description" rows="4" maxlength="250"></textarea>
          </div>
        </div>
        <div class="form-row mt-5">
          <div class="col-md-5"></div>
          <div class="col-md-5">
            <button class="btn btn-dark btn-size w-25" (click)="submitBatch()">
                Submit
            </button>
          </div>
        </div>
      </form>      
    </div>
  </div>
</div>
</div>
<div class="mt-5 margin-adjust" style="padding: 0px 15px 0px 15px">
    <section class="section-tours">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="seq">
            <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header disabled><b>S.No.</b></th>
            <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="14%"><b>Batch Id</b></th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
  
          <ng-container matColumnDef="batchName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="14%"><b>Batch Name</b></th>
            <td mat-cell *matCellDef="let row">{{ row.batchName }}</td>
          </ng-container>
  
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="14%"><b>Count</b></th>
            <td mat-cell *matCellDef="let row">{{ row.count }}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="14%"><b>Date</b></th>
            <td mat-cell *matCellDef="let row">{{ row.date | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
          </ng-container>         
          
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="14%"><b>Status</b></th>
            <td mat-cell *matCellDef="let row">{{ row.status }}</td>
          </ng-container>
  
          <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="16%"><b>Action</b></th>
          <td mat-cell *matCellDef="let row">            
              <button class="btn btn-outline-dark mr-3" (click)="batchDetails(row)" data-toggle="modal" data-target="#detailsModal">
                PUSH
              </button>
              <button class="btn btn-outline-dark" (click)="logBatch(row.id)">
                DETAILS
              </button>                                       
          </td>
          </ng-container>          
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </section>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:80px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <div class="heading-shadow pt-1 mt-3 ml-2">
          <h3>DETAILS</h3>
        </div>  
        <button type="button" #closeDetail class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row m-2">
           <div class="col-md-4">
              <div class="card">
                  <div class="card-header">CUSTOMER</div>
                  <div class="card-body">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                    <span class="float-right">{{batchRow.batchName}}</span>
                  </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="card">
                  <div class="card-header">Batch Id</div>
                  <div class="card-body w-100">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                    <span class="float-right">{{batchRow.id}}</span>
                  </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="card">
                  <div class="card-header">Count</div>
                  <div class="card-body">
                     <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                     <span class="float-right">{{batchRow.count}}</span>
                  </div>
              </div>
           </div>             
          </div>
          <div class="row m-2 mt-3">
           <div class="col-md-4">
              <div class="card">
                  <div class="card-header">Status</div>
                  <div class="card-body">
                      <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                      <span class="float-right">{{batchRow.status}}</span>
                  </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="card">
                  <div class="card-header">Date</div>
                  <div class="card-body">
                    <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                    <span class="float-right">{{batchRow.date | date: 'dd-MM-yyyy HH:mm:ss'}} </span>
                  </div>
              </div>
           </div>
           <div class="col-md-4">
              <div class="card">
                  <div class="card-header">User</div>
                  <div class="card-body">
                   <i class="fa fa-bar-chart bars" aria-hidden="true"></i>    
                   <span class="float-right">Suresh</span>
                  </div>
              </div>
           </div>             
          </div>
          <div class="row m-2 mt-5"> 
            <div class="col-md-6"></div>
            <div class="col-md-3">
              <button class="float-right btn-size btn btn-dark w-75" (click)="runBatch()">
                RUN BATCH
              </button>
            </div>
            <div class="col-md-3">
              <button class="float-right btn-size btn btn-dark w-75" (click)="deleteBatch()">
                DELETE BATCH
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



