
.logo-image{
  width: 150px;
  max-height: 120px;
  border-radius: 5px;
}
.profile-header{
  margin-bottom: 30px;
}
.wrapper{
    margin-bottom: 5rem;
}
table tr td{
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.mat-tab-label .mat-tab-label-content{
  color:#fff !important;
  opacity: 1 !important;
}
label{
  font-weight: 500;
  font-size: 13px;
    margin: 0;
}

