.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 50%;
}

.new-label1{
  width: 35% !important;
    padding: 0rem 2rem 0rem 2rem;
    text-align: right;
    font-weight: 600;
}
.new-label-input{
  width: 100px;
}

