<div class="container-fluid mt-5">
  <section class="section-tours">
    <div class="row my-3">
      <div class="col-md-9 form-row">
        <div class="col-form-label">
          <form [formGroup]="clientForm">
            <mat-form-field>
              <mat-label>Select Client</mat-label>
              <mat-select formControlName="org" (selectionChange)="getFirmwareList()">
                <mat-option *ngFor="let client of clientList" [value]="client.id">{{client.orgName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-dark btn-size py-2 gen-firmware" (click)="generateFirmware()">
          Generate Firmware
        </button>
      </div>
    </div>
    <!-- <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="seq">
          <th mat-header-cell *matHeaderCellDef width="10%" mat-sort-header disabled><b>S.No.</b></th>
          <td mat-cell *matCellDef="let row">{{ row.seq }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Client Name</b></th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Firmware Type</b></th>
          <td mat-cell *matCellDef="let row">{{ row.type }}</td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Version</b></th>
          <td mat-cell *matCellDef="let row">{{ row.version }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Created By</b></th>
          <td mat-cell *matCellDef="let row">{{ row.username }}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Created Date</b></th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="bms">
  <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"><b>Firmware Nomenclature</b></th>
  <td mat-cell *matCellDef="let row">{{ row.bms }}</td>
  </ng-container> -->

        <!-- <ng-container matColumnDef="cfg">
  <th mat-header-cell *matHeaderCellDef mat-sort-header width="18%"><b>CFG</b></th>
  <td mat-cell *matCellDef="let row">{{ row.cfg }}</td>
  </ng-container>
  
  <ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef mat-sort-header width="18%"><b>Action</b></th>
  <td mat-cell *matCellDef="let row">
  <button class="btn btn-outline-dark" (click)="getImeiDetail(row)" data-toggle="modal" data-target="#detailsModal">
  PUSH FOTA
  </button>
  </td>
  </ng-container> -->

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div> -->

    <div class="mat-container mt-4">
      <app-fota-mat-table
        [dataUrl]="grid_url"
        [headerColumns]="Columns"
        [search]=false
        (outData)="openBox($event)"
        [companyName]="param1"
      ></app-fota-mat-table>
    </div>
  </section>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="top:80px">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none; padding: 0;">
        <!-- <div class="heading-shadow pt-1 mt-3 ml-2">
  <h3>DETAILS</h3>
  </div> -->
        <button type="button" #closeModel class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-3 m-2">
          <div class="col-sm-12">
            <app-create-firmware></app-create-firmware>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>