<app-progress-spinner color="warn" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>

<div class="wrapper">
  <div class="py-4">
      <form [formGroup]="roleForm">              
        <div class="card">
          <div class="card-header">
            <h3>{{userInfo.email}}</h3>
            <h5>{{userInfo.userType}}</h5>
          </div>
        </div>
        <div class="card">
         <div class="card-body">
         <mat-form-field style="font-size: 14px;" class="my-4 w-50" appearance="fill">
            <mat-label>View Roles</mat-label>
            <mat-select formControlName="role" multiple>              
              <mat-option [value]="role.id" *ngFor="let role of rolesList">
                {{role.displayName}}
              </mat-option>
            </mat-select>
         </mat-form-field>
         </div> 
        </div>
        <div class="mt-5 my-2 py-2">
        <button mat-raised-button color="primary" type="button" [mat-dialog-close]="true" class="text-left mr-2">
            Close
        </button>
        <button *ngIf="createUserRole" mat-raised-button color="primary" (click)="onSubmit()" class="text-left">
            Save 
        </button>
        </div>
      </form>
    <!-- </mat-card> -->
  </div>
</div>
