<div class="container mt-5">
  <section class="section-tours">
    <div class="row my-3">
      <div class="col-md-3">
         <button class="btn btn-dark w-50" style="font-size: 15px;" (click)="back()">
            Back
          </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Preview
          </div>
          <div class="card-body">
           <div class="row my-4">
            <div class="col-md-6 pl-50">
              <h4 class="hp-40">Publish</h4>
              <ul class="col-form-label">
                <li><span class="mr-3">tcu: </span> /FWP/{{param2}}/TCU/imei</li>
               <li><span class="mr-3">bms: </span> /FWP/{{param2}}/BMS/imei</li>
               <li><span class="mr-3">cfg: </span> /FWP/{{param2}}/Config/imei</li>
               <li><span class="mr-1">sysconfig: </span> /FWP/{{param2}}/sysconfig/imei</li>
               <!-- <li>FWP/exicom/sysconfig/imei</li> -->
              </ul>
            </div>
            <div class="col-md-6 pl-50">
              <h4 class="hp-40">Subscribe</h4>
              <ul class="col-form-label">
                <li><span class="mr-3">tcu: </span> /FWA/{{param2}}/TCU/imei</li>
                <li><span class="mr-3">bms: </span> /FWA/{{param2}}/BMS/imei</li>
                <li><span class="mr-3">cfg: </span> /FWA/{{param2}}/Config/imei</li>
                <li><span class="mr-1">sysconfig: </span>  /FWA/{{param2}}/sysconfig/imei</li>
                <!-- <li>FWP/exicom/sysconfig/imei</li> -->
              </ul>
            </div>
            <!-- <mat-form-field class="example-full-width">
              <mat-label>EDIR CLIENT NAME</mat-label>
              <input matInput placeholder="Client" [(ngModel)]="param2">
            </mat-form-field> -->
           </div>
           <div class="container">
            <div class="row m-5">
              <!-- <div class="col-sm-12"> -->
                <div class="col-sm-3">
                  <label>Update Client Name</label>
                </div>
                <div class="col-sm-9">
                 <form [formGroup]="topicForm">
                 <mat-form-field class="example-full-width">
                   <mat-label>EDIT CLIENT NAME</mat-label>
                   <input matInput placeholder="Client" formControlName="client">
                   <mat-error *ngIf="checkError('client', 'required')">(Client Name is required)</mat-error>
                   <mat-error *ngIf="checkError('client', 'pattern')">(Client Name should be only lowercase text with no spaces or special characters)</mat-error>
                 </mat-form-field>
                 </form>
                </div>
              <!-- </div> -->
            </div>
           </div>
           <div class="row my-2 p-2 px-3">
               <div class="col-md-4">
               </div>
               <div class="col-md-7">
                <button class="btn btn-dark w-25 btn-style" style="font-size: 15px;" (click)="isTopicSubmit()">
                    CREATE TOPICS
                </button>
                <button #openConfirm [hidden]=true data-toggle="modal" data-target="#myModal"></button>
               </div>
           </div>
           </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="width: 100%;">
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <button type="button" class="close p-0 modal-remove" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to create these topics?</p>
      </div>
      <div class="modal-footer" style="justify-content: center; border: none;">
        <button type="button" class="btn btn-info" data-dismiss="modal" #closeModal2>Cancel</button>
        <button type="button" class="btn btn-dark" (click)="createTopic()">Create</button>
      </div>
    </div>
  </div>
</div>
<app-progress-spinner color="accent" [mode]="mode" [value]="value" *ngIf="displayProgressSpinnerInBlock" [diameter]="50"
  class="center-aligned sq-relative-backdrop">
</app-progress-spinner>